  control:
    runs-on: ubuntu-latest
    outputs:
      merge: {{ '${{ steps.request.outputs.merge }}' }}
    steps:
      - name: Checkout base control code
        uses: actions/checkout@3d3c42e5aac5ba805825da76410c181273ba90b1 # v7.0.1
        with:
          ref: {{ '${{ github.sha }}' }}
          fetch-depth: 0
          persist-credentials: false
      - name: Validate trusted CI request
        id: request
        env:
          GH_TOKEN: {{ '${{ github.token }}' }}
          MERGE_PREPARATION_APP_BOT_ID: {{ '${{ vars.MERGE_PREPARATION_APP_BOT_ID }}' }}
          REQUEST_HEAD: {{ '${{ inputs.head }}' }}
          REQUEST_BASE: {{ '${{ inputs.base }}' }}
          REQUEST_MERGE: {{ '${{ inputs.merge }}' }}
          REQUEST_CONTRACT: {{ '${{ inputs.contract }}' }}
        run: python3 -I .github/scripts/merge-preparation.py ci-control --head "$REQUEST_HEAD" --base "$REQUEST_BASE" --merge "$REQUEST_MERGE" --contract "$REQUEST_CONTRACT"
