      - name: Restore signed publication plan
        id: prepared-plan
        env:
          GH_TOKEN: {{ '${{ github.token }}' }}
          MERGE_PREPARATION_PUBLIC_KEYS: {{ '${{ vars.MERGE_PREPARATION_PUBLIC_KEYS }}' }}
          RELEASE_PLAN_OUTPUT: {{ '${{ runner.temp }}/repo-template-release-plan.json' }}
          RELEASE_PUBLISHER_KIND: {{ ('project-docker' if use_gh_actions_docker_project_pipeline else 'docker' if use_gh_actions_docker_release else 'github') | tojson }}
{% if use_gh_actions_docker_release or use_gh_actions_docker_project_pipeline %}
          RELEASE_EXPECTED_IMAGE_REPOSITORY: {{ (docker_image_name if use_aws_ecr else docker_registry ~ '/' ~ docker_image_name) | tojson }}
          RELEASE_EXPECTED_IMAGE_REGISTRY: {{ ('ecr' if use_aws_ecr else 'dockerhub') | tojson }}
{% if use_aws_ecr %}
          RELEASE_EXPECTED_ECR_ACCOUNT: {{ aws_account_id | tojson }}
          RELEASE_EXPECTED_ECR_REGION: {{ aws_region | tojson }}
{% endif %}
{% endif %}
        run: python3 -I .github/scripts/merge-preparation.py restore
