{
  "compilerOptions": {
    "allowJs": false,
    "exactOptionalPropertyTypes": true,
    "forceConsistentCasingInFileNames": true,
    "isolatedModules": true,
    "lib": ["ES2022", "DOM"{% if use_tauri %}, "DOM.Iterable"{% endif %}],
{%- if use_tauri %}
    "module": "ESNext",
    "moduleResolution": "bundler",
{%- else %}
    "module": "NodeNext",
    "moduleResolution": "NodeNext",
{%- endif %}
    "noEmit": true,
    "noFallthroughCasesInSwitch": true,
    "noImplicitOverride": true,
    "noUncheckedIndexedAccess": true,
    "noUnusedLocals": true,
    "noUnusedParameters": true,
    "skipLibCheck": false,
    "strict": true,
    "target": "ES2022",
    "types": [{% if use_chrome_extension %}"chrome", {% endif %}"node", "vitest/globals"]
  },
  "include": ["src/**/*.ts", "tests/**/*.ts"{% if use_tauri %}, "vite.config.ts"{% endif %}, "vitest.config.ts"]
}
