{
  "extends": "./tsconfig.json",
{%- if use_tauri %}
  "include": ["src/**/*.ts", "vite.config.ts"],
  "exclude": ["tests/**/*.ts", "vitest.config.ts"]
{%- else %}
  "compilerOptions": {
    "declaration": false,
    "noEmit": false,
    "outDir": "dist",
    "rootDir": "src",
    "sourceMap": true,
    "types": ["chrome"]
  },
  "exclude": ["tests/**/*.ts", "vitest.config.ts"]
{%- endif %}
}
