[package]
name = {{ project_name | tojson }}
version = {{ project_version | tojson }}
edition = "2024"
description = {{ project_description | tojson }}
authors = [{{ author_name | tojson }}]

[dependencies]
