{{ _copier_answers|to_nice_yaml -}}
repo_template_python_starters_created: {{ use_python | tojson }}
repo_template_python_application_starter_created: {{ (use_python and python_project_kind == 'application') | tojson }}
repo_template_python_package_starter_name: {{ (python_package_name if use_python and python_project_kind != 'application' else '') | tojson }}
repo_template_rust_starters_created: {{ use_rust | tojson }}
repo_template_chrome_starters_created: {{ use_chrome_extension | tojson }}
repo_template_tauri_starters_created: {{ use_tauri | tojson }}
