{
  "manifest_version": 3,
  "name": "{{ chrome_extension_name }}",
  "description": "{{ chrome_extension_description }}",
  "version": "{{ chrome_extension_version }}",
  "action": {
    "default_title": "{{ chrome_extension_name }}",
    "default_popup": "popup.html"
  },
  "background": {
    "service_worker": "background.js",
    "type": "module"
  },
  "permissions": []
}
